<!DOCTYPE html>
<html lang="en">
<head>

    @Html.Partial("~/Views/Shared/_TitleMeta.cshtml")

    @RenderSection("styles", false)

    @Html.Partial("~/Views/Shared/_headCSS.cshtml")

</head>
<body>


    @RenderBody()

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- Icon -->
    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>